#mainBackground {
	background-color: rgba(50, 50, 50, 1);
	width: 100%;
	height: 100%;
}

#bodyContainer {
	background-color: rgba(240, 240, 240, 1);
	width: 80%;
	height: auto;
	overflow: auto;
	/*min-height: 1000px;*/
	margin-top: 40px;
}

.greenLine {
	background-color: rgba(120,157, 45,1);
	height: 40px;
	width: 100%;
}

.blueLine {
	background-color: rgba(29,101,101,1);
	height: 3px;
	width: 90%;
	margin-left: 5%;
	margin-bottom: 15px;
	margin-top: -20px;
}

#navBar {
	height: 65px;
	width: 100%;
	background-color: rgba(204, 86, 86,1);
}

.navElements {
	height: inherit;
	width: 25%;
	text-align: center;
	float: left;
	padding-top: 7px;
	color: white;
}

.center {
	margin-left: auto;
    margin-right: auto;
}

.column {
	height: auto;
	width: 100%;
	float: left;
	margin-top: 30px;
}

.contactForm {
	width: 100%;
	height: auto;
	margin-top: 5%;
	float: left;
}

.imgContainer {
	height: inherit;
	width: 90%;
	margin-left: 5%;
}

.imgFormatMain {
	width: auto;
	height: auto;
	float: left;
	margin-left: 1%;
	margin-top: 3px;
	margin-bottom: 13px;
    box-shadow: -5px 5px 5px #888888;
}

.imgFormatMid {
	width: 49%;
	height: auto;
	float: left;
	margin-left: 1%;
	margin-top: 3px;
	margin-bottom: 13px;
	padding-top: 5px;
    box-shadow: -5px 5px 5px #888888;
}

.imgFormatSmall {
	width: 24%;
	height: auto;
	float: left;
	margin-left: 1%;
	margin-top: 3px;
	margin-bottom: 13px;
    box-shadow: -5px 5px 5px #888888;
}

.projectImgContainer {
	width: 32%;
	float: left;
	margin-left: 1%;
	margin-bottom: 13px;
    box-shadow: -5px 5px 5px #888888;
}

.projectImgText {
	width: 100%;
	height: auto;
	padding-left: -7%;
	margin-top: -15px;
	margin-bottom: -10px;
	float: left;
}

h1 {
	text-align: center;
	font-family: "Lucida Sans Unicode", "Lucida Grande", sans-serif;
}

h2 {
	width: 90%;
	color: white;
	padding-top: 2px;
	padding-left: 20px;
	margin-top; none:
	float: left;
	font-family: "Lucida Sans Unicode", "Lucida Grande", sans-serif;
}

h3, p  {
	font-family: "Lucida Sans Unicode", "Lucida Grande", sans-serif;
	margin-left: 10%;
}

a {
	color: black;
	font-family: "Lucida Sans Unicode", "Lucida Grande", sans-serif;
}

a:link {
	text-decoration: none;
}

a:visited {
	text-decoration: none;
}

a:hover {
	text-decoration: underline;
	color: rgba(70, 70, 70, 1);
}

a:active {
	text-decoration: underline;
}

.email{
  unicode-bidi:bidi-override;
  direction: rtl;
  color: white;
  margin-top: -27px;
  padding-left: 0px;
  margin-left: -5%;
  float: left;
}

.socialMedia {
	float: right;
	margin-top: -47px;
	padding-top: none;
	padding-right: 20px;
}

/*Color scheme for website*/
.rgba-primary-0 { color: rgba(168, 48, 48,1) }	/* Main Primary color - red*/
.rgba-primary-1 { color: rgba(247,146,146,1) }
.rgba-primary-2 { color: rgba(204, 86, 86,1) }
.rgba-primary-3 { color: rgba(130, 17, 17,1) }
.rgba-primary-4 { color: rgba(87,  0,  0,1)  }

.rgba-secondary-1-0 { color: rgba(29,101,101,1) }	/* Main Secondary color (1) - blue*/
.rgba-secondary-1-1 { color: rgba(88,148,148,1) }
.rgba-secondary-1-2 { color: rgba(51,122,122,1) }
.rgba-secondary-1-3 { color: rgba(10, 78, 78,1) }
.rgba-secondary-1-4 { color: rgba(0, 52, 52,1)  }

.rgba-secondary-2-0 { color: rgba(120,157, 45,1) }	/* Main Secondary color (2) - green*/
.rgba-secondary-2-1 { color: rgba(199,230,137,1) }
.rgba-secondary-2-2 { color: rgba(153,190, 80,1) }
.rgba-secondary-2-3 { color: rgba(86,121, 16,1)  }
.rgba-secondary-2-4 { color: rgba(54, 81,  0,1)  }