h1 {
	color: blue;
	text-align: center;
}

p {
	color: red;
	padding-left: 100px;
}

#mainBackground {
	background-color: black;
	width: 100%;
	height: 100%;
}

#bodyContainer {
	background-color: white;
	width: 70%;
	height: 1900px;
	margin: auto;
}

#navBar {
	height: 30px;
	width: 100%;
	background-color: gray;
	float: left;
}

.navElements {
	height: inherit;
	width: 25%;
	text-align: center;
	float: left;
	padding-top: 5px;
}

.center {
	margin-left: auto;
    margin-right: auto;
}

.column {
	height: auto;
	width: 45%;
	float: left;
}

#header {
	width: 100%;
	height: 220px;
	background-color: green;
}